body {
  background-image: url('/bg.svg') !important;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.link {
  color: #2B6CB0 !important;
}
.link:visited {
  color: #2B6CB0 !important;
}
.link:active {
  color: #2B6CB0 !important;
}