body {
  background-image: url("/bg.svg") !important;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.link {
  color: #2b6cb0 !important;
}
.link:visited {
  color: #2b6cb0 !important;
}
.link:active {
  color: #2b6cb0 !important;
}
